/Tempo.egg-info
/.vscode
/build
/datasets
/xai/asl_images
/xai/asl_images_old
/runs
/model_zoo

/segmentation/*.pth
/segmentation/*.pkl
/segmentation/detectron2
/segmentation/balloon*
/segmentation/*.pth
/segmentation/output*

/xai/gtFine
/xai/imgsFine
/xai/heatmaps
xai/test
